html {
    box-sizing: content-box;
    width: 100%;
    z-index: 0;
    cursor: url(embeded/img/purpleCursor.png),auto;
}

body{
	width: 100%;
	height: 100%;
	background-color: #060214;
    overflow: hidden;
    z-index: 0;
}
/* Solar System BackGround */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    visibility: visible;
    z-index: 4;
}
#stars{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #fff;
    border-radius:50%;
    animation: zoom 10s alternate infinite;
    -webkit-animation: spin-left 360s linear infinite;
    animation: spin-left 360s linear infinite;
    z-index: 1;
}
#asteroids-belt2 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #382B2F;
    border-radius:50%;
    -webkit-animation: spin-right 180s linear infinite;
    animation: spin-right 180s linear infinite;
    z-index: 3;
}
#asteroids-belt {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #301B2F;
    border-radius:50%;
    -webkit-animation: spin-right 100s linear infinite;
    animation: spin-right 100s linear infinite;
    z-index: 2;
}
#solarSystem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
#bluePlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27rem;
    height: 27rem;
    border-radius: 20px;
    margin-top: -13.5rem;
    margin-left: -13.5rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100rem;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
    z-index: 6;
}
#bluePlanet {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #9FF1FD;
    border-radius: 24px;
    position: absolute;
    background-image: url(embeded/img/bluePlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
    z-index: 11;
}
#purplePlanet {
    width: 2rem;
    height: 2rem;
    background-color: #6D5CBF;
    border-radius: 24px;
    position: absolute;
    background-image: url(embeded/img/purplePlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
    z-index: 11;
}
#purplePlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-top: -10rem;
    margin-left: -10rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100rem;
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
    z-index: 7;
}
#pinkPlanet {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #E86EDE;
    border-radius: 24px;
    position: absolute;
    background-image: url(embeded/img/pinkPlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
    z-index: 11;
}
#pinkPlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
    margin-top: -7.5rem;
    margin-left: -7.5rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100rem;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
    z-index: 8;
}
#sun{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
#sun-container{
    width: 10rem;
	height: 10rem;
	box-align: center;
	margin-left: 3px;
    border-radius: 100rem;
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(embeded/img/sun.png);
	transform-origin: center center;
    z-index: 10;
}

/* Planet Hover Designs */
#bluePlanet-container:hover {
    border: 2px #B7A9FE dashed;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#purplePlanet-container:hover {
    border: 2px #B7A9FE dashed;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#pinkPlanet-container:hover {
    border: 2px #B7A9FE dashed;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#sun-container:hover {
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}

/* Menu Design */
#menu-container {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    width: 50%;
    height: 90%;
    right: 0%;
    top: 5%;
    margin: 10px 10px 10px 10px;
    background: #211e31;
    opacity: 0.8;
    box-shadow: inset 4px 2px 2px rgba(209, 209, 195, 0.336);
    border: 2px solid rgba(44, 44, 44, 0.507);
    border-radius: 20px;
    z-index: 12;
    visibility: hidden;
}
#menu {
    position: absolute;
    box-sizing: border-box;
    width: 96%;
    height: 94.5%;
    right: 1%;
    top: 2%;
    margin: 1% 1% 1% 1%;
    border-radius: 10px;
    background-color: #211e31;
    border: 2px solid rgba(0, 0, 0, 0.507);
    box-shadow: inset 4px 2px 4px rgba(0, 0, 0, 0.507);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b7a9fe' fill-opacity='0.08'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    z-index: 13;
}
#button-container {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    cursor: url(embeded/img/purpleCursor.png),auto;
    z-index: 15;
}
#exit-button {
    width: 2rem;
    height: 2rem;
    border-radius: 24px;
    background-size: contain;
    background-color: #b7a9fe;
    background-image: url(embeded/img/exit.png);
    cursor: url(embeded/img/pinkCursor.png),auto;
    order: 2;
    z-index: 17;
}
#menu-button {
    width: 2rem;
    height: 2rem;
    border-radius: 24px;
    background-size: contain;
    background-color: #b7a9fe;
    background-image: url(embeded/img/menu.png);
    cursor: url(embeded/img/pinkCursor.png),auto;
    z-index: 17;
}
#header-container {
    box-sizing: border-box;
    background-size: contain;
    display: flex;
    justify-self: center;
    align-self: center;
    top: -1rem;
    z-index: 16;
}
h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: large;
    color: #B7A9FE;
}
#menu-header{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    justify-self: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    z-index: 18;
    text-shadow: 0px 0px 3px #B7A9FE;
}
#about-header{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    justify-self: center;
    justify-self: center;
    z-index: 19;
}
#work-header{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    justify-self: center;
    justify-self: center;
    z-index: 20;
}
#info-header{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    justify-self: center;
    justify-self: center;
    z-index: 21;
}
/* Embeded Pages */
#about {
    position: absolute;
    box-sizing: border-box;
    width: 98%;
    height: 86%;
    right: 0%;
    top: 5%;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
#info {
    position: absolute;
    box-sizing: border-box;
    width: 98%;
    height: 86%;
    right: 0%;
    top: 5%;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
#work {
    position: absolute;
    box-sizing: border-box;
    width: 96%;
    height: 86%;
    right: 0%;
    top: 5%;
    margin: 1% 1% 1% 1%;
    border-radius: 10px;
}
/* Menu Icons */
#menu-icons{
    position: absolute;
    box-sizing: border-box;
    background-size: contain;
    overflow: hidden;
    width: 100%;
    height: 60%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 16;

}
#about-me {
    position: absolute;
    box-sizing: border-box;
    background-size: contain;
    width: 20em;
    height: 7em;
    align-self: start;
    margin-left: 7%;
    background-image: url(embeded/img/aboutMe.png);
    z-index: 17;
}
#my-work {
    position: absolute;
    box-sizing: border-box;
    background-size: contain;
    width: 20em;
    height: 7em;
    align-self: center;
    margin-right: 7%;
    background-image: url(embeded/img/myWork.png);
    z-index: 17;
}
#about-site {
    position: absolute;
    box-sizing: border-box;
    background-size: contain;
    width: 20em;
    height: 7em;
    align-self: end;
    margin-left: 7%;
    background-image: url(embeded/img/siteInfo.png);
    z-index: 17;
}
#bottom-icons {
    position: absolute;
    box-sizing: border-box;
    background-size: contain;
    overflow: hidden;
    width: 100%;
    height: 20%;
    top: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 17;
}
#space-laser {
    position: absolute;
    box-sizing: border-box;
    width: 8.2em;
    height: 3.2em;
    right: 1%;
    background-image: url(embeded/img/spaceLaser.png);
    background-repeat: no-repeat;
    background-position: center;
}
#connect {
    position: absolute;
    box-sizing: border-box;
    width: 7.5em;
    height: 3.2em;
    left: 20%;
    background-image: url(embeded/img/connect.png);
    background-repeat: no-repeat;
    background-position: center;
}
#github {
    position: absolute;
    box-sizing: border-box;
    width: 3.2em;
    height: 3.2em;
    left: 1%;
    background-image: url(embeded/img/github.png);
    background-repeat: no-repeat;
    background-position: center;
}
#linkedin {
    position: absolute;
    box-sizing: border-box;
    width: 3.2em;
    height: 3.2em;
    left: 11%;
    background-image: url(embeded/img/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* Menu Hover Designs */
#about-me:hover {
    border-radius: 100rem;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#my-work:hover {
    border-radius: 100rem;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#about-site:hover {
    border-radius: 100rem;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#space-laser:hover {
    border-radius: 20px;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#connect:hover {
    border-radius: 20px;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#github:hover {
    border-radius: 20px;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
#linkedin:hover {
    border-radius: 20px;
    box-shadow: inset 4px 4px 20px #B7A9FE;
    cursor: url(embeded/img/pinkCursor.png),auto;
}
/* Text Design */
#blink-text {
    font-family: 'Space Grotesk', sans-serif;
    color: #3f396b62;
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
    animation: blinker 5s linear infinite;
    z-index: 3;
}


/* ---------- Animation ---------- */
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-left {
    100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 900px) {
    body{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        overflow: hidden;
    }
    #asteroids-belt-container {
        visibility: hidden;
    }
    #space {
        margin-top: auto;
        margin-bottom: auto;
        display: flexbox;
        justify-content: center;
        align-content:center;
    }
    #blink-text {
        font-size: 1rem;
    }
    #menu-container{
        width: 90%;
        height: 80%;
        right: 10px;
        top: 50px;
        margin: 10px 10px 10px 10px;
    }
    #menu {
        width: 94%;
    }
    #about-me {
        width: 15em;
        height: 5.3em;
        margin-left: 7%;
    }
    #my-work {
        width: 15em;
        height: 5.3em;
        margin-right: 7%;
    }
    #about-site {
        width: 15em;
        height: 5.3em;
        margin-left: 7%;
    }
    #space-laser {
        width: 3.2em;
        height: 3.2em;
        right: 2%;
        background-image: url(embeded/img/laserNoText.png);
    }
    #connect {
        width: 3.2em;
        height: 3.2em;
        left: 40%;
        background-image: url(embeded/img/connectNoText.png);
    }
    #github {
        left: 1%;
    }
    #linkedin {
        left: 20%;
    }   
}