body{
	width: 100%;
	height: 100%;
	background-color: #060214;
    overflow: hidden;
}
#stars{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #fff;
    border-radius:50%;
    box-shadow: -69vw -27vh 0px 2px #fff,-62vw -16vh 1px 2px #fff,32vw 58vh 0px 2px #fff,-38vw 78vh 0px 2px #fff,38vw 82vh 2px 0px #fff,4vw 14vh 2px 0px #fff,64vw -75vh 0px 0px #fff,10vw -84vh 2px 0px #fff,-14vw 82vh 1px 2px #fff,-77vw -23vh 1px 2px #fff,-38vw 32vh 2px 2px #fff,64vw -35vh 1px 0px #fff,72vw -72vh 2px 2px #fff,-68vw 81vh 2px 0px #fff,70vw 39vh 0px 0px #fff,35vw -29vh 0px 1px #fff,-76vw 37vh 0px 0px #fff,-8vw 4vh 1px 0px #fff,-55vw 29vh 1px 2px #fff,-49vw 59vh 1px 1px #fff,-14vw -73vh 1px 1px #fff,-54vw -48vh 0px 1px #fff,-6vw -14vh 2px 1px #fff,5vw 70vh 2px 2px #fff,52vw 43vh 1px 2px #fff,62vw -66vh 1px 2px #fff,17vw -17vh 2px 1px #fff,13vw 47vh 2px 2px #fff,-8vw -85vh 2px 1px #fff,71vw -79vh 0px 0px #fff,79vw 24vh 0px 2px #fff,-23vw -17vh 0px 1px #fff,-13vw -61vh 2px 0px #fff,35vw -3vh 1px 2px #fff,-2vw 32vh 0px 0px #fff,24vw -64vh 2px 0px #fff,-50vw -19vh 1px 2px #fff,55vw -44vh 0px 2px #fff,-38vw 50vh 2px 2px #fff,30vw -75vh 2px 2px #fff,14vw 58vh 2px 0px #fff,58vw 16vh 2px 1px #fff,-64vw -81vh 1px 0px #fff,40vw 20vh 0px 2px #fff,86vw -14vh 1px 2px #fff,14vw 16vh 0px 2px #fff,-7vw -1vh 1px 2px #fff,82vw -88vh 1px 0px #fff,-27vw 27vh 0px 0px #fff,35vw -8vh 1px 0px #fff,40vw -79vh 0px 1px #fff,-19vw -5vh 1px 1px #fff,-44vw 54vh 1px 1px #fff,67vw -16vh 0px 2px #fff,-86vw -30vh 0px 0px #fff,-2vw 49vh 1px 2px #fff,-78vw 49vh 0px 0px #fff,43vw -46vh 0px 1px #fff,69vw 21vh 1px 2px #fff,36vw 84vh 0px 1px #fff,-32vw 42vh 2px 0px #fff,29vw 88vh 0px 1px #fff,-31vw -10vh 0px 2px #fff,84vw -78vh 0px 0px #fff,11vw -88vh 0px 2px #fff,9vw 90vh 1px 2px #fff,53vw 73vh 2px 0px #fff,-71vw 53vh 0px 2px #fff,-51vw 17vh 1px 1px #fff,79vw -35vh 2px 0px #fff,-52vw 85vh 1px 1px #fff,-67vw 1vh 1px 2px #fff,-79vw 71vh 1px 2px #fff,24vw -66vh 1px 1px #fff,63vw 14vh 0px 1px #fff,-81vw -7vh 0px 1px #fff,25vw -8vh 0px 2px #fff,29vw -76vh 0px 2px #fff,40vw -8vh 0px 2px #fff,-76vw 31vh 1px 0px #fff,-4vw 33vh 1px 2px #fff,86vw -43vh 1px 1px #fff,-21vw -8vh 1px 2px #fff,14vw 55vh 2px 1px #fff,73vw 90vh 2px 1px #fff,-75vw 67vh 1px 1px #fff,70vw -46vh 2px 0px #fff,0vw -68vh 1px 1px #fff,-40vw 1vh 0px 0px #fff,22vw 58vh 2px 0px #fff,71vw -1vh 0px 1px #fff,45vw 58vh 1px 1px #fff,-89vw 83vh 0px 2px #fff,-54vw -37vh 0px 0px #fff,-49vw 83vh 0px 2px #fff,-38vw -25vh 0px 1px #fff,-6vw -88vh 0px 2px #fff,-49vw 6vh 0px 1px #fff,-19vw -54vh 0px 1px #fff,76vw 63vh 2px 0px #fff,
    -39vw 55vh 2px 2px #fff,-89vw 96vh 0px 0px #fff,-4vw -72vh 1px 0px #fff,-44vw -24vh 1px 1px #fff,-29vw -31vh 3px 2px #fff,31vw -1vh 1px 0px #fff,-51vw 96vh 2px 0px #fff,-85vw 48vh 2px 0px #fff,86vw -43vh 0px 1px #fff,92vw -38vh 2px 3px #fff,-30vw -44vh 1px 3px #fff,93vw 29vh 3px 3px #fff,-98vw 28vh 3px 3px #fff,-16vw 53vh 1px 3px #fff,47vw 86vh 3px 1px #fff,-86vw -97vh 3px 2px #fff,-65vw -83vh 0px 2px #fff,-4vw -73vh 3px 1px #fff,21vw -98vh 3px 2px #fff,-26vw -75vh 3px 2px #fff,-90vw 86vh 2px 1px #fff,-8vw 51vh 3px 1px #fff,-1vw -97vh 3px 3px #fff,-99vw -90vh 2px 0px #fff,22vw -37vh 1px 1px #fff,-78vw 68vh 1px 2px #fff,-60vw -75vh 0px 3px #fff,16vw -42vh 2px 2px #fff,98vw -93vh 1px 1px #fff,-64vw -82vh 1px 3px #fff,9vw -36vh 2px 2px #fff,-95vw 8vh 0px 2px #fff,11vw -28vh 1px 3px #fff,-55vw -67vh 0px 1px #fff,-49vw -62vh 2px 2px #fff,63vw 60vh 3px 2px #fff,36vw -16vh 3px 2px #fff,82vw -21vh 1px 0px #fff,3vw -61vh 1px 2px #fff,65vw -85vh 3px 2px #fff,-97vw 54vh 1px 0px #fff,-8vw 19vh 3px 0px #fff,9vw 74vh 1px 3px #fff,8vw 82vh 1px 2px #fff,36vw -47vh 3px 0px #fff,22vw 58vh 0px 3px #fff,62vw 28vh 2px 3px #fff,25vw 20vh 3px 3px #fff,62vw 7vh 3px 0px #fff,23vw 27vh 1px 0px #fff,16vw 50vh 0px 3px #fff,23vw -88vh 3px 1px #fff,36vw -1vh 2px 3px #fff,-88vw -8vh 1px 1px #fff,-68vw 89vh 1px 3px #fff,-98vw 57vh 2px 3px #fff,76vw 74vh 0px 2px #fff,-40vw 38vh 3px 0px #fff,-29vw -79vh 3px 3px #fff,98vw -52vh 2px 1px #fff,2vw -6vh 2px 3px #fff,-27vw -96vh 2px 0px #fff,-98vw 89vh 2px 1px #fff,53vw -96vh 0px 1px #fff,51vw 71vh 0px 0px #fff,-67vw 75vh 2px 1px #fff,-92vw -31vh 2px 3px #fff,33vw 66vh 1px 2px #fff,75vw -63vh 3px 1px #fff,-10vw -10vh 3px 1px #fff,-23vw 77vh 1px 2px #fff,36vw -74vh 3px 3px #fff,-40vw -67vh 3px 1px #fff,93vw 96vh 2px 0px #fff,96vw 92vh 2px 0px #fff,24vw -50vh 2px 2px #fff,63vw -22vh 0px 0px #fff,-57vw -1vh 0px 1px #fff,62vw -4vh 0px 3px #fff,-39vw -6vh 0px 2px #fff,-30vw 30vh 3px 1px #fff,41vw -59vh 1px 1px #fff,-43vw -36vh 3px 0px #fff,66vw -60vh 1px 1px #fff,80vw -25vh 3px 1px #fff,-55vw 5vh 1px 3px #fff,98vw -59vh 2px 2px #fff,-29vw -72vh 0px 0px #fff,90vw -70vh 1px 3px #fff,2vw -70vh 0px 1px #fff,22vw -82vh 1px 0px #fff,-84vw -83vh 2px 1px #fff,36vw -2vh 2px 3px #fff,-20vw 34vh 3px 1px #fff,43vw -13vh 0px 3px #fff,-86vw 43vh 2px 1px #fff,-59vw -38vh 3px 0px #fff,-87vw 70vh 2px 2px #fff,86vw -83vh 2px 2px #fff,25vw 72vh 2px 2px #fff,
    -98vw -47vh 1px 1px #fff,-65vw -25vh 0px 1px #fff,42vw 78vh 0px 0px #fff,-39vw 68vh 1px 0px #fff,-40vw 84vh 1px 1px #fff,87vw 92vh 1px 0px #fff,91vw -32vh 1px 0px #fff,25vw -31vh 0px 0px #fff,22vw -44vh 0px 0px #fff,-19vw 70vh 0px 0px #fff,-24vw 77vh 0px 0px #fff,60vw 41vh 0px 0px #fff,-22vw -68vh 0px 1px #fff,-3vw -81vh 1px 0px #fff,44vw -49vh 1px 1px #fff,38vw -4vh 0px 0px #fff,-74vw 26vh 0px 1px #fff,98vw 20vh 0px 0px #fff,28vw 87vh 0px 1px #fff,-34vw -50vh 0px 1px #fff,-81vw 16vh 0px 0px #fff,-26vw 15vh 1px 1px #fff,57vw -85vh 0px 0px #fff,49vw -87vh 0px 1px #fff,-23vw 68vh 0px 1px #fff,-28vw 28vh 1px 1px #fff,14vw 58vh 1px 1px #fff,-14vw -42vh 0px 1px #fff,-27vw 31vh 1px 0px #fff,-28vw -41vh 1px 1px #fff,-35vw 38vh 0px 0px #fff,63vw 44vh 1px 0px #fff,28vw 56vh 0px 0px #fff,-84vw -7vh 1px 0px #fff,0vw 87vh 1px 0px #fff,-50vw -28vh 1px 1px #fff,40vw -54vh 0px 1px #fff,20vw 18vh 0px 1px #fff,14vw 49vh 0px 0px #fff,66vw -88vh 0px 0px #fff,15vw 0vh 0px 0px #fff,19vw -67vh 1px 1px #fff,-3vw -18vh 0px 1px #fff,-90vw -19vh 1px 1px #fff,-16vw 15vh 1px 0px #fff,10vw 64vh 1px 1px #fff,49vw -48vh 0px 1px #fff,-84vw 96vh 0px 1px #fff,32vw -4vh 0px 1px #fff,-14vw 6vh 0px 1px #fff,46vw 58vh 1px 0px #fff,-62vw -49vh 0px 1px #fff,-62vw -75vh 1px 1px #fff,-36vw -96vh 1px 1px #fff,-37vw -88vh 0px 0px #fff,17vw 91vh 0px 0px #fff,27vw 51vh 1px 0px #fff,11vw 82vh 1px 1px #fff,-99vw -23vh 1px 0px #fff,80vw 55vh 1px 1px #fff,51vw -58vh 0px 0px #fff,62vw -22vh 1px 1px #fff,-26vw 85vh 1px 0px #fff,-93vw -33vh 1px 0px #fff,-27vw 49vh 1px 1px #fff,34vw -8vh 1px 0px #fff,-55vw -67vh 0px 0px #fff,-37vw -86vh 1px 0px #fff,-22vw -82vh 1px 1px #fff,85vw -62vh 0px 1px #fff,11vw -43vh 0px 1px #fff,-19vw -96vh 1px 1px #fff,83vw 11vh 0px 0px #fff,-69vw -97vh 1px 0px #fff,81vw -81vh 1px 1px #fff,3vw 17vh 0px 1px #fff,68vw -3vh 0px 0px #fff,-47vw 57vh 1px 1px #fff,84vw 16vh 0px 1px #fff,93vw 96vh 0px 1px #fff,-46vw -27vh 0px 0px #fff,-48vw -85vh 0px 1px #fff,-9vw -16vh 0px 0px #fff,57vw -92vh 1px 0px #fff,51vw 71vh 1px 0px #fff,-88vw -95vh 1px 1px #fff,-29vw -64vh 1px 0px #fff,-39vw 80vh 0px 1px #fff,64vw 7vh 1px 0px #fff,68vw 94vh 0px 1px #fff,89vw 69vh 0px 1px #fff,-87vw -55vh 0px 1px #fff,-66vw -80vh 1px 0px #fff,-74vw -93vh 1px 0px #fff,-96vw 12vh 0px 1px #fff,-92vw 44vh 1px 0px #fff,97vw -40vh 0px 0px #fff,-30vw 2vh 1px 1px #fff,-50vw -17vh 1px 0px #fff,60vw 10vh 1px 0px #fff,
    35vw 28vh 0px 2px #fff,55vw -28vh 1px 1px #fff,-46vw -24vh 2px 2px #fff,-6vw -55vh 1px 2px #fff,76vw 80vh 0px 0px #fff,1vw -77vh 1px 2px #fff,38vw 75vh 0px 1px #fff,78vw 86vh 2px 1px #fff,-47vw -11vh 0px 1px #fff,63vw 64vh 1px 1px #fff,-21vw -32vh 2px 2px #fff,-46vw 45vh 2px 1px #fff,-33vw 73vh 1px 0px #fff,9vw -56vh 0px 2px #fff,74vw 84vh 1px 0px #fff,-73vw 76vh 2px 0px #fff,5vw -90vh 2px 0px #fff,-8vw 68vh 2px 1px #fff,-89vw -89vh 2px 1px #fff,37vw -78vh 1px 2px #fff,-32vw 61vh 2px 2px #fff,-33vw 55vh 2px 0px #fff,-7vw 32vh 2px 1px #fff,-51vw -48vh 1px 2px #fff,38vw -61vh 2px 1px #fff,38vw 40vh 1px 0px #fff,-40vw -34vh 0px 2px #fff,-33vw -3vh 2px 2px #fff,75vw -32vh 0px 1px #fff,72vw -69vh 1px 0px #fff,-88vw 10vh 0px 2px #fff,-18vw 72vh 2px 2px #fff,43vw -82vh 1px 2px #fff,-47vw 49vh 2px 0px #fff,-38vw 43vh 2px 0px #fff,-84vw -16vh 2px 1px #fff,57vw -1vh 1px 0px #fff,-51vw -23vh 1px 1px #fff,-5vw 57vh 2px 1px #fff,8vw -1vh 2px 2px #fff,-20vw 31vh 1px 2px #fff,49vw -39vh 2px 1px #fff,-1vw -52vh 0px 1px #fff,-17vw -80vh 1px 1px #fff,46vw 41vh 2px 2px #fff,16vw 78vh 0px 2px #fff,-84vw 10vh 1px 1px #fff,45vw -26vh 2px 1px #fff,-56vw -22vh 1px 2px #fff,-79vw 70vh 1px 1px #fff,-71vw 2vh 2px 2px #fff,-65vw -29vh 0px 1px #fff,-54vw -53vh 2px 0px #fff,-70vw 43vh 0px 2px #fff,20vw 26vh 2px 1px #fff,-34vw -35vh 0px 2px #fff,88vw -74vh 2px 1px #fff,-66vw 61vh 1px 1px #fff,-2vw -2vh 2px 0px #fff,82vw 47vh 2px 0px #fff,-49vw -5vh 2px 1px #fff,16vw -78vh 1px 2px #fff,-15vw -23vh 2px 0px #fff,6vw 4vh 0px 2px #fff,-67vw 12vh 1px 1px #fff,50vw -17vh 2px 2px #fff,-23vw 67vh 2px 0px #fff,-48vw 88vh 0px 0px #fff,-86vw 68vh 0px 0px #fff,19vw 0vh 0px 1px #fff,64vw 50vh 2px 2px #fff,-79vw 77vh 2px 0px #fff,53vw -75vh 2px 2px #fff,20vw -52vh 1px 2px #fff,-21vw 36vh 0px 0px #fff,-22vw 73vh 0px 2px #fff,-13vw 53vh 2px 0px #fff,-64vw -81vh 1px 2px #fff,52vw -81vh 1px 2px #fff,0vw -6vh 0px 1px #fff,69vw -75vh 0px 2px #fff,-24vw 52vh 0px 1px #fff,-61vw 21vh 2px 1px #fff,60vw 16vh 1px 2px #fff,-88vw -83vh 0px 0px #fff,-26vw -73vh 1px 1px #fff,83vw 29vh 2px 1px #fff,-31vw -26vh 2px 1px #fff,28vw -71vh 0px 1px #fff,72vw 78vh 0px 0px #fff,-23vw -37vh 1px 1px #fff,65vw -70vh 2px 2px #fff,7vw 68vh 1px 0px #fff,9vw 46vh 0px 2px #fff,10vw -39vh 2px 2px #fff,-28vw -14vh 2px 2px #fff,33vw 50vh 2px 0px #fff,14vw 15vh 1px 2px #fff,37vw -59vh 2px 1px #fff,-54vw 30vh 1px 0px #fff;
    animation: zoom 10s alternate infinite;
    -webkit-animation: spin-left 360s linear infinite;
    animation: spin-left 360s linear infinite;
}
#asteroids-belt {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #59373F;
    border-radius:50%;
    box-shadow:-19vw 45vh 2px 1px #59373F,15vw 33vh 3px 0px #59373F,9vw 12vh 2px 2px #59373F,2vw -26vh 2px 3px #59373F,-21vw -19vh 3px 2px #59373F,6vw 23vh 3px 3px #59373F,11vw -46vh 0px 1px #59373F,-22vw -6vh 3px 1px #59373F,-21vw -37vh 2px 3px #59373F,13vw 49vh 1px 1px #59373F,-14vw 2vh 0px 0px #59373F,7vw -46vh 2px 2px #59373F,-4vw -19vh 3px 1px #59373F,1vw -43vh 0px 1px #59373F,-13vw -33vh 0px 2px #59373F,19vw 28vh 0px 2px #59373F,4vw -31vh 1px 2px #59373F,5vw -30vh 2px 0px #59373F,-3vw 44vh 1px 3px #59373F,21vw 22vh 2px 1px #59373F,8vw 26vh 0px 0px #59373F,-23vw -23vh 3px 3px #59373F,-12vw 17vh 0px 2px #59373F,19vw -10vh 1px 0px #59373F,-1vw -28vh 3px 3px #59373F,-20vw 44vh 0px 3px #59373F,8vw -37vh 1px 2px #59373F,8vw -22vh 3px 2px #59373F,17vw 26vh 1px 2px #59373F,12vw 41vh 0px 1px #59373F,-8vw -35vh 2px 1px #59373F,27vw -1vh 2px 1px #59373F,-5vw -27vh 0px 0px #59373F,-7vw -1vh 1px 1px #59373F,-10vw 5vh 1px 1px #59373F,16vw -37vh 1px 0px #59373F,11vw -10vh 2px 2px #59373F,4vw 23vh 1px 2px #59373F,-11vw -50vh 1px 2px #59373F,-8vw 23vh 0px 1px #59373F,-4vw 45vh 3px 2px #59373F,-10vw 27vh 1px 2px #59373F,7vw 14vh 2px 0px #59373F,19vw -44vh 3px 1px #59373F,23vw -18vh 1px 2px #59373F,-6vw -1vh 2px 2px #59373F,
    -30vh 2px 1px #59373F;
    -webkit-animation: spin-right 100s linear infinite;
    animation: spin-right 100s linear infinite;
}
#asteroids-belt2 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #442D32;
    border-radius:50%;
    box-shadow:5vw 30vh 1px 1px #442D32,18vw 2vh 0px 3px #442D32,16vw 29vh 1px 3px #442D32,9vw 29vh 1px 0px #442D32,-23vw 27vh 3px 2px #442D32,21vw 9vh 1px 0px #442D32,-20vw 27vh 0px 0px #442D32,-19vw 29vh 3px 2px #442D32,13vw 20vh 1px 0px #442D32,11vw 7vh 0px 3px #442D32,-4vw -20vh 2px 0px #442D32,14vw 10vh 2px 1px #442D32,6vw 9vh 1px 1px #442D32,7vw 9vh 2px 1px #442D32,15vw -11vh 2px 0px #442D32,-21vw 22vh 0px 0px #442D32,-21vw 10vh 3px 2px #442D32,-22vw -12vh 3px 3px #442D32,18vw 1vh 1px 3px #442D32,21vw 1vh 2px 3px #442D32,24vw -28vh 2px 0px #442D32,17vw -9vh 3px 0px #442D32,6vw -28vh 3px 0px #442D32,-11vw -6vh 1px 0px #442D32,-15vw -22vh 2px 2px #442D32,17vw -1vh 3px 1px #442D32,16vw -7vh 0px 1px #442D32,4vw 1vh 3px 1px #442D32,-9vw -13vh 0px 0px #442D32,2vw -25vh 3px 2px #442D32,14vw -28vh 0px 3px #442D32,-12vw -28vh 0px 3px #442D32,-7vw 30vh 0px 0px #442D32,-5vw 17vh 0px 2px #442D32,-7vw 17vh 0px 0px #442D32,11vw -19vh 0px 2px #442D32,23vw -14vh 2px 0px #442D32,22vw 14vh 0px 2px #442D32,-14vw 13vh 2px 2px #442D32,-22vw -27vh 3px 2px #442D32,23vw 5vh 1px 2px #442D32,-8vw 1vh 3px 1px #442D32,21vw 28vh 1px 3px #442D32,-4vw -1vh 3px 3px #442D32,10vw 22vh 3px 2px #442D32,6vw 2vh 2px 1px #442D32,1vw -6vh 2px 1px #442D32,18vw -29vh 0px 1px #442D32,23vw 25vh 1px 2px #442D32;
    -webkit-animation: spin-right 180s linear infinite;
    animation: spin-right 180s linear infinite;
}
#solarSystem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pinkPlanet {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #B554AB;
    border-radius: 24px;
    position: absolute;
    background-image: url(img/pinkPlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
}
#pinkPlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: 15rem;
    margin-top: -7.5rem;
    margin-left: -7.5rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
#purplePlanet {
    width: 2rem;
    height: 2rem;
    background-color: #B227F3;
    border-radius: 24px;
    position: absolute;
    background-image: url(img/purplePlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
}
#purplePlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
}
#bluePlanet {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00C2FF;
    border-radius: 24px;
    position: absolute;
    background-image: url(img/bluePlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
}
#bluePlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27rem;
    height: 27rem;
    margin-top: -13.5rem;
    margin-left: -13.5rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}
#sun{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}

#sun-container{
    width: 10rem;
	height: 10rem;
	box-align: center;
	margin-left: 3px;
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(img/sun.png);
	transform-origin: center center;
}

/* ---------- Animation ---------- */
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-left {
    100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}
