@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

html {
    box-sizing: content-box;
    width: 100%;
    z-index: 0;
}

body{
	width: 100%;
	height: 100%;
	background-color: #060214;
    overflow: hidden;
    z-index: 0;
}
/* Solar System BackGround */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    visibility: visible;
    z-index: 4;
}
#stars{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #fff;
    border-radius:50%;
    animation: zoom 10s alternate infinite;
    -webkit-animation: spin-left 360s linear infinite;
    animation: spin-left 360s linear infinite;
    z-index: 1;
}
#asteroids-belt2 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #382B2F;
    border-radius:50%;
    -webkit-animation: spin-right 100s linear infinite;
    animation: spin-right 100s linear infinite;
    z-index: 3;
}
#asteroids-belt {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.01px;
    width: 0.01px;
    background-color: #301B2F;
    border-radius:50%;
    -webkit-animation: spin-right 180s linear infinite;
    animation: spin-right 180s linear infinite;
    z-index: 2;
}
#solarSystem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
#bluePlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27rem;
    height: 27rem;
    margin-top: -13.5rem;
    margin-left: -13.5rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
    z-index: 7;
}
#bluePlanet {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #9FF1FD;
    border-radius: 24px;
    position: absolute;
    background-image: url(img/bluePlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
    z-index: 6;
}
#purplePlanet {
    width: 2rem;
    height: 2rem;
    background-color: #6D5CBF;
    border-radius: 24px;
    position: absolute;
    background-image: url(img/purplePlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
    z-index: 8;
}
#purplePlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
    z-index: 9;
}
#pinkPlanet {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #E86EDE;
    border-radius: 24px;
    position: absolute;
    background-image: url(img/pinkPlanet.png);
    background-position: center;
    background-size: contain;
    top: 9.5%;
    left: 9.5%;
    z-index: 10;
}
#pinkPlanet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: 15rem;
    margin-top: -7.5rem;
    margin-left: -7.5rem;
    border: 2px #3f396b62 dashed;
    border-radius: 100%;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
    z-index: 11;
}
#sun{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}
#sun-container{
    width: 10rem;
	height: 10rem;
	box-align: center;
	margin-left: 3px;
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(img/sun.png);
	transform-origin: center center;
    z-index: 13;
}
/* Menu Design */
#menu-container {
    position: absolute;
    box-sizing: border-box;
    width: 60%;
    height: 90%;
    right: 1%;
    top: 5%;
    margin: 10px 10px 10px 10px;
    background: #211c31;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    visibility: hidden;
    z-index: 14;
}
#menu {
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    height: 88%;
    right: 4%;
    top: 5%;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #211e31;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b7a9fe' fill-opacity='0.08'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    z-index: 15;
}
#button-container {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 16;
}
#exit-button {
    width: 2rem;
    height: 2rem;
    border-radius: 24px;
    background-size: contain;
    background-color: #b7a9fe;
    order: 2;
    z-index: 17;
}
#menu-button {
    width: 2rem;
    height: 2rem;
    border-radius: 24px;
    background-size: contain;
    background-color: #b7a9fe;
    z-index: 17;
}
/* Text Design */
#blink-text {
    font-family: 'Space Grotesk', sans-serif;
    color: #3f396b62;
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
    animation: blinker 5s linear infinite;
    z-index: 3;
}


/* ---------- Animation ---------- */
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-left {
    100% {
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 700px) {
    body{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        overflow: hidden;
    }
    #asteroids-belt-container {
        visibility: hidden;
    }
    #space {
        margin-top: auto;
        margin-bottom: auto;
        display: flexbox;
        justify-content: center;
        align-content:center;
    }
    #blink-text {
        font-size: 1rem;
    }
    #menu-container{
        width: 80%;
        height: 80%;
        right: 10px;
        top: 50px;
        margin: 10px 10px 10px 10px;
    }   
    #menu{
        width: 80%;
        height: 80%;
        right: 5%;
        top: 80px;
        margin: 10px 10px 10px 10px;
    }
    #exit-button {
        left: 85%;
    }
}