html {
    box-sizing: content-box;
    width: 98.5vw;
    height: 100vh;
    z-index: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.0);
    cursor: url(img/purpleCursor.png),auto;
    font-family: 'Space Grotesk', sans-serif;
}

/* ABOUT PAGE */
#about {
    color: #9FF1FD;
    height: 100%;
    width: 100%;
}

#bio-header {
    box-sizing: border-box;
    width: 100%;
    height: 6.5rem;

}

#avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #9FF1FD;
    margin: 2% 5%;
    float: left;
    box-shadow: 0px 0px 4px #9FF1FD;
}

#name {
    Width: 60%;
    height: 100%;
    top: 4%;
    left: 8rem;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    gap: 1%;
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #9FF1FD;
}

#byline {
    Width: 60%;
    height: 100%;
    top: 10%;
    left: 8rem;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    gap: 1%;
    position: absolute;
    font-style: italic;
    font-size: 1rem;
    font-weight: light;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-shadow: 0px 0px 4px #9FF1FD;
}

#summary {
    background-color: #6ED5E3;
    Margin: 1% 0%;
    height: auto;
    letter-spacing: 0.11em;
    padding: 1rem 1rem;
    box-shadow: 5px 10px 10px rgba(25, 41, 44, 0.60);
}

#tagline {
    color: #36747D;
    text-align: center;
    letter-spacing: 0.11em;
    Margin: 2% 8%;
    text-shadow: 0px 0px 1.5px #36747D;
}

#about-content {
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.13em;
    text-indent: 10px;
    Margin: 2% 2% 2% 3%;
    text-shadow: 0px 0px 1.5px #6ED5E3;
}

/* WORK PAGE */

#work {
    color: #B7A9FE;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    cursor: url(img/pinkCursor.png), auto;
}

#work-container {
    margin: 10px 5%;
    display: grid;
}
#project-container {
    box-sizing: content-box;
    display: flex;
    width: 100%;
    height: 100px;
    margin: 5px;
    background-color: #B7A9FE;
    opacity: 0.75;
    border: #B7A9FE 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #B7A9FE
}
#img {
    display: flex;
    justify-content: space-evenly;
    contain: strict;
    object-fit: scale-down;
    background-color: #B7A9FE;
    border-radius: 10px;
    height: 100%;
    width: 200px;
    flex-shrink: 0;
}

#img > a > img {
    height: 100%;
    width: 200px;
    object-fit: contain;
}

#project-info {
    display: grid;
    color: #52468D;
    align-content: space-evenly;
    justify-content: start;
    justify-items: start;
    height: 90%;
    width: fit-content;
    margin: 0px 0px 0px 10px;
}
#project-title {
    font-size: medium;
    text-decoration: underline;

}
#project-description{
    font-size: smaller;
    font-weight: 100;
    font-style: italic;
    overflow: hidden;
}
#code-link{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 100;
    background-color: #6D5CBF;
    justify-self: start;
    align-self: end;
}

/* INFO PAGE */

#info {
    color: #FE9DF6;
    width: 97%;
    height: 100%;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.13em;
    text-indent: 10px;
    Margin: 2% 2% 2% 3%;
    text-shadow: 0px 0px 1.5px #FE9DF6;
}

#easter-eggs {
    background-color: #FE9DF6;
    Margin: 1% 0%;
    height: auto;
    letter-spacing: 0.11em;
    display: flex;
    gap: 10px;
    box-shadow: 5px 10px 10px rgba(25, 41, 44, 0.60);
}

#eggs {
    color: #BD4DB3;
    text-align: center;
    letter-spacing: 0.11em;
    Margin: 1% 8%;
    text-shadow: 0px 0px 1.5px #BD4DB3;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #211E31;
    
}
   
::-webkit-scrollbar-thumb {
    background: #B7A9FE; 
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #907EE8;
}

  /* Media Query: Large Smartphone */
@media screen and (max-width: 800px) {
    html {
        width: 95.5vw;
    }
    #about {
        font-size: smaller;
    }
    #bio-header {
        box-sizing: border-box;
        height: 5rem;
    }
    #avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: #D9D9D9;
        margin: 3% 3%;
        float: left;
    }
    #name {
        top: 4%;
        left: 5rem;
        font-size: 0.8rem;
    }
    
    #byline {
        top: 8%;
        left: 5.5rem;
        font-size: 0.8rem;
    }
    
    #project-container {
        width: 100%;
        display: flex;
    }
    #img {
        width: 100px;
    }
    #project-description{
        font-size: xx-small;
    }
}
